.heroh1 {
    font-size: 90px;
    font-weight: 600;
    border-bottom: none;
}

.heroh4 {
    font-size: 17px;
    line-height: 25px;
    font-weight: 400;
    border-bottom: none;
    text-transform: none;
    color: #555555;
}

.searchBox {
    box-shadow: 0 0 #0000, 0 0 #0000, 0 10px 5px -10px rgb(0 0 0/0.1), 0 8px 10px -6px rgb(0 0 0/0.1);
}

.titleh2 {
    font-size: 46px;
    font-weight: 400;
    line-height: 56px;
    color: #1F1F1F;
}

.card-wrapper {
    border-bottom: 3px solid transparent;
}

.card-wrapper:hover {
    border-bottom: 3px solid #8c4ae7;
}

.card-wrapper:hover .primary-color, .card-wrapper:hover .card-heading {
    color: #8c4ae7;
}

.bgGray {
    padding: 50px;
    background: #f1f1f1;
}

.footerUl {
    list-style: none;
    list-style-type: none;
    margin-left: 0;
    padding-inline-start: 0px;
}

.footerUl li {
    display: inline-block;
    margin-right: 5px;
}

.footerUl li a {
    text-decoration: none;
    color: #555555;
    padding: 10px;
}


/* Fluid Styles */

.fluid {
    display: flex;
}

.fluid a {
    flex-grow: 1;
    margin-right: 0.25rem;
}

.fluid a:last-child {
    margin-right: 0rem;
}


.btn-social,
.btn-social:visited,
.btn-social:focus,
.btn-social:hover,
.btn-social:active {
    color: #ffffff;
    text-decoration: none;
    transition: opacity .15s ease-in-out;
}

.btn-social:hover,
.btn-social:active {
    opacity: .75;
}

.btn-fb {
    background-color: #3b5998;
}

.btn-tw {
    background-color: #1da1f2;
}

.btn-in {
    background-color: #0077b5;
}

.btn-gp {
    background-color: #db4437;
}

.btn-rd {
    background-color: #ff4500;
}

.btn-hn {
    background-color: #ff4000;
}

.galleryRadius img {
    border-radius: 15px;
}


.service-item .card {
    border: 0px solid transparent !important;
    height: calc(100% - 0px);
    border-radius: 0.5rem;
    border: 4px solid;
    border-color: transparent !important;
    transition: all 0.5s;
}

.cr > * {
    padding-right: 0px !important;
}
.cr img {
    border-radius: 8px;
}
.icon {
    padding: 20px;
}

.note_content h5 {
    font-size: 15px;
    font-weight: 700;
}

.startFrom {
    font-size: 16px;
}

.total_cart {
    font-size: 16px;
}
.total_cart .total_cart_title {
    font-weight: 500;
}
.total_cart .total_cart_amount {
    width: 120px;
    font-weight: 700;
    text-align: right;
    padding-right: 15px;
}
